<h2 mat-dialog-title>Create Project</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="newProjectForm">
        <div class="form-control">
          <label for="name">Project Name</label>
          <input
            type="text"
            name="name"
            id="name"
            formControlName="name"
            placeholder="Project Name..."
            required
          />
        </div>
    
        <div class="form-control">
          <label for="description">Project Description</label>
          <textarea
            type="text"
            name="description"
            id="description"
            formControlName="description"
            placeholder="Project Description..."
          ></textarea>
        </div>
      </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="{refresh:false}">Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Create</button>
</mat-dialog-actions>