<mat-spinner
  *ngIf="initialLoading"
  style="
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  "
>
</mat-spinner>
<div class="wrapper" *ngIf="!initialLoading">
  <h1 class="title">Team'Ops</h1>
  <form [formGroup]="signInForm" (submit)="onSubmit()">
    <h3>Sign in</h3>
    <div class="form-control">
      <label for="usernameOrEmail">Username or Email</label>
      <input
        type="text"
        name="usernameOrEmail"
        id="usernameOrEmail"
        formControlName="usernameOrEmail"
        placeholder="Username or email..."
        required
      />
      <div *ngIf="usernameOrEmailErrors?.['required']" class="error">
        *This field is required
      </div>
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        formControlName="password"
        placeholder="password..."
      />
      <div *ngIf="passwordErrors?.['required']" class="error">
        *This field is required
      </div>
    </div>

    <button type="submit">Submit</button>
    <a href="/signup"><p class="sign-up">Sign Up</p></a>
  </form>
</div>
