<div
    style="
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px
    "
  >
    <input type="text" name="title" id="title" [formControl]="title" placeholder="Title" />
    <div>
      <button
        style="
          padding: 10px;
          background: rgb(185, 183, 183);
          margin-right: 10px;
        "
        (click)="close()"
      >
        Close
      </button>
      <button
        style="padding: 10px; background: rgb(185, 183, 183)"
        (click)="onFinish()"
      >
        Save
      </button>
    </div>
  </div>
  <ckeditor
    (change)="onChange($event)"
    [data]="data.content"
    [editor]="Editor"
  >
  </ckeditor>