<ng-container *ngIf="isEditing; else createing">
  <div
    style="
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    "
  >
    <h1 class="wiki-title">{{ updateWikiData!.title }}</h1>
    <div>
      <button
        style="
          padding: 10px;
          background: rgb(185, 183, 183);
          margin-right: 10px;
        "
        (click)="close()"
      >
        Close
      </button>
      <button
        style="padding: 10px; background: rgb(185, 183, 183)"
        (click)="save()"
      >
        Save
      </button>
    </div>
  </div>
  <ckeditor
    (change)="onChange($event)"
    style="margin-top: 10px"
    [data]="updateWikiData!.content!"
    [editor]="Editor"
  >
  </ckeditor>
</ng-container>
<ng-template #createing>
    <div
    style="
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    "
  >
    <input type="text" name="title" id="title" [formControl]="title" placeholder="Title" />
    <div>
      <button
        style="
          padding: 10px;
          background: rgb(185, 183, 183);
          margin-right: 10px;
        "
        (click)="close()"
      >
        Close
      </button>
      <button
        style="padding: 10px; background: rgb(185, 183, 183)"
        (click)="create()"
      >
        Save
      </button>
    </div>
  </div>
  <ckeditor
    (change)="onChange($event)"
    style="margin-top: 10px"
    [data]="createWikiData!.content!"
    [editor]="Editor"
  >
  </ckeditor>
</ng-template>
