:host {
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.mat-drawer-content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

::ng-deep .mat-drawer-inner-container {
  overflow-x: hidden !important;
}

.mat-drawer-content-content-wrapper {
  height: 100%;
  width: 100%;
  display: block;
}

.settings-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
}

.selected {
  background-color: rgb(132, 191, 247);
}

.settings-card:hover {
  background-color: rgb(132, 191, 247);
}

.selected-indicator {
  position: absolute;
  width: 5px;
  height: 40px;
  left: 0;
  background: rgb(27, 141, 248);
}

.form-control {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  label {
    font-weight: bold;
  }
  input {
    width: 500px;
    height: auto;
    border: 1px solid black;
    padding: 5px;
  }
  textarea {
    min-width: 500px;
    min-height: 100px;
    width: 500px;
    max-width: 500px;
    max-height: 100px;
    height: 100px;
    border: 1px solid black;
    padding: 5px;
  }
}

form {
  button {
    background-color: rgb(40, 110, 240);
    color: white;
    padding: 15px;
    cursor: pointer;
  }
  button:disabled{
    cursor: not-allowed !important;
  }
}

.owner-section {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: brown;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.project-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(9, 122, 85);
  height: 20px;
  width: 20px;
  border-radius: 4px;
}

.user-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: brown;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}