:host {
  height: 100%;
  overflow-y: hidden;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}

.mat-drawer-content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-drawer-content-content-wrapper {
  padding: 25px;
  background: rgb(248, 246, 246);
  // max-height: 805px;
}

::ng-deep .mat-drawer-inner-container {
  overflow-x: hidden !important;
}

.organization-settings {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  gap: 10px;
}

.organization-settings:hover {
  cursor: pointer;
  background-color: rgb(240, 236, 236);
}

.menu-parent {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  .icon {
    height: 10px;
    width: 10px;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: blue;
  }
}

.menu-child {
  padding: 10px;
  padding-left: 25px;
}

.select-indicator {
  height: 100%;
  width: 5px;
  background-color: blue;
  left: 0;
  top: 0;
}

.selected-parent {
  background-color: lightgray;
}

.selected-child {
  background-color: gray;
}
