:host {
  height:100%;
  overflow-y: hidden;
  display: block;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}

.mat-drawer-content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 20px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 20px;
}

.selected{
  color: blue;
}

.user-icon {
  background-color: brown;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.project-wiki-info{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  gap:10px
}

.add-btn:hover{
  background-color: lightgray;
  cursor: pointer;
}